.header__title {
    cursor: pointer;
}

.header__title a {
    text-decoration: none;
    color: black;
}


/* Title, Link, Button */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    background-color: #99b3ff;
}

/* Link Button*/
.header__nav {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header_nav_list li {
    display: none;
}

.header_nav_active li {
    display: block;
}

.header_nav_active li:hover {
    text-decoration: underline;
    cursor: pointer;
    opacity: 60%;
}

.header_nav_list a, .header_nav_active a {
    text-decoration: none;
    color: black;
}

.header_nav_list, .header_nav_active {
    list-style: none;
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
}

.header_nav_button_disabled {
    display: none;
}