.cardContainer {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: auto;
    margin: auto;
    padding: 18px;
    border: 1px solid black;
    background-color: white;
}

.cardBox {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 18px;
}

.cardItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

input {
    border-radius: 4px;
    width: 120%;
    height: 96x;
}

input:nth-child(12) {
    margin-bottom: 8px;
}

.setError {
    color: red;
    font-size: 1.2rem;
    text-align: center;
}

/* ===== smartphone ===== */
@media (max-width: 768px) {
  .header_nav_button {
    width: 100%;
    font-size: 15px;
    padding: 12px;
    margin-top: 10px;
    text-align: center;
    white-space: nowrap; 
  }
}

/* ===== tablet ===== */
@media (min-width: 769px) and (max-width: 1024px) {
  .header_nav_button {
    width: 70%;
    font-size: 16px;
    padding: 14px;
    margin: 12px auto;
    display: block;
    text-align: center;
    border-radius: 12px;
    white-space: nowrap; 
  }
}

/* ===== smartphone (less than 430px) ===== */
@media (max-width: 430px) {
  .header_nav_button {
    font-size: 14px;
    padding: 10px;
    white-space: nowrap; 
  }
}
