.cardContainer {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: auto;
    margin: auto;
    padding: 18px;
    border: 1px solid black;
    background-color: white;
}

.cardBox {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 18px;
}

.cardItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

input {
    border-radius: 4px;
    width: 120%;
    height: 96x;
}

input:nth-child(12) {
    margin-bottom: 8px;
}

.setError {
    color: red;
    font-size: 1.2rem;
    text-align: center;
}